@model IEnumerable<DashboardDate>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Data</th>
        <th>Qtd</th>
    </tr>
    </thead>
    <tbody>
        
            @foreach(var item in Model)
            {
                <tr>
                <td>@item.Key</td>
                <td>@item.Qtd</td>
                 </tr>
            }
       
    </tbody>
</table>