@model IEnumerable<TagDataDTO>
<table class="table table-striped">
<thead>
<tr>
    <th>Region</th>
    <th>Data</th>
    <th>Lon</th>
    <th>Lat</th>
</tr>
</thead>
<tbody> 
        @foreach(var item in Model)
        {
            <tr> 
            <td>@item.RegionName</td>
            <td>@item.Data.ToLocalTime().ToString("dd/MM/yyyy")</td>
            <td>@item.Lon</td>
            <td>@item.Lat</td>
            </tr>
        }
</tbody>
</table>