@model TagDTO


<form asp-antiforgery="true" >  </form> 
 <input type="hidden" asp-for="TotalTags">

<input type="hidden" id="url" value=@Url.Action("Update", "Admin")>
 
<div class="admin-link">
        <div class="add-link">
            <div class="card rounded-0">
                <div class="card-block form-add">
                    <input class="form-control form-control-md g-rounded-20"  asp-for="@Model.Name" placeholder="Name"  />
                    <input class="form-control form-control-md g-rounded-20"  asp-for="@Model.TargetLink" placeholder="Url"  />
                    <button class="btn btn-md u-btn-primary g-rounded-20"
                    data-url="@Url.Action("Create", "Admin")" 
                    id="add" 
                    value="Add">Add New Link</button>                
                </div>
            </div>   
                <div class="card rounded-0">
                    <p>Links</p>
                <div class="card-block form-update links">
                    <vc:render-links-adm-user />
                </div>
                </div>          
        </div> 
    <div class="view-link">
        <vc:render-links-user username="@User.Identity.Name" />
    </div>
</div>
 
 
@section Scripts
{
    <script>
        SetupCreateLink();
    </script>
}