<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebApp - @ViewData["Title"]</title>
    <partial name="_css">
</head>
<body class="has-fixed-sidebar">
    <header>
         @{ Html.RenderPartialIf("_header", User.Identity.IsAuthenticated, "profile;logout"); }
    </header>
    <partial name="_CookieConsentPartial" />
    <main class="container">
    <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
        @RenderBody()
    </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <partial name="_js">
    @RenderSection("Scripts", required: false)
</body>
</html>
