* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e6ecf0;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem !important;
    font-weight: 300;
    line-height: 1.52947;
    letter-spacing: 0.011em;
    text-rendering: optimizeLegibility !important;
}

input,
button {
    outline: 0;
}

.tags {
    display: flex;
}

.tags div {
    flex: 1;
}
.hide {
    display: none;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.dashboard {
    display: flex;
    justify-items: flex-start;
    align-content: space-around;
}

.dashboard div {
    flex: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background: #fff;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
