@model Dashboard



<input type="hidden" id="url" name="url" value="@Url.Action("DashboardData", "Dashboard")" />
 
<div class="container">
     <select asp-for="@Model.Id" id="Id" class ="form-control" asp-items="@(new SelectList(Model.Tags, "Id", "Name"))">
        <option></option>
    </select>

   <h1 id="name"></h1>

    <div class="count">
        <div>
           <div id="totalClick"></div>
           <div id="totalUniqueClick"></div>
        </div>
         
   </div>
    <div>
        <div class="graph">
            <table id="clicks" class="display">
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Data</th>
                        <th style="width: 50px;">PostalCode</th>
                        <th>RegionName</th>
                        <th>City</th>  
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
          
            <div id="byday" style="width: 100%; height: 500px;">  </div>
            <div id="bymonth" style="width: 100%; height: 500px;">  </div>
            <div id="byyear" style="width: 100%; height: 500px;">  </div>
            <div id="byregion" style="width: 100%; height: 500px;">  </div>
            <div id="bycity" style="width: 100%; height: 500px;">  </div>
           
        </div>
    </div>
    
</div>


@section Scripts
{ 
   <script>SetupDashBoard()</script>
   

}

