@page
@model ForgotPasswordConfirmation


 <div class="container g-py-150 text-center">


    <div id="account">
        <h5>Please check your email to reset your password.</h5>
        <a asp-page="./Login">Return to Login.</a>
    </div>


</div>