@page
@model LogoutModel
 

 <div class="container g-py-150 text-center">
    <h1>Log out</h1>
    <p>You have successfully logged out of the application.</p>
     <a asp-page="./Login">Click to log in</a>
</div> 